{% extends 'Saral/main.html' %}
    
    {% block content %}
    {% load static %}
    <div class="container mt-2">        
        <div class="row">
            <h3 class="pt-5">Top Movies</h3><br>
            <div class="list-container">
                <div class="suggestion-container suggestion-container-new mt-2 mb-2 mr-3">
                    <div class="img-div">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu_kH8XXXHDZ3nTq_uFlpkMLXQhjTyLmSsrQ&usqp=CAU" alt="" class="sugg-img">
                    </div>
                    <a href="watch.html" class="href-none"><h5 class=" pt-2 pb-1"><b>HOW IT ENDS</b></h5></a>
                    <div class="absolute-div pb-1">
                        <span>2021</span>
                        <span>18+</span>
                        <span>Action</span>
                    </div>
                </div>
                <div class="suggestion-container suggestion-container-new mt-2 mb-2 mr-3">
                    <div class="img-div">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu_kH8XXXHDZ3nTq_uFlpkMLXQhjTyLmSsrQ&usqp=CAU" alt="" class="sugg-img">
                    </div>
                    <a href="watch.html" class="href-none"><h5 class=" pt-2 pb-1"><b>HOW IT ENDS</b></h5></a>
                    <div class="absolute-div pb-1">
                        <span>2021</span>
                        <span>18+</span>
                        <span>Action</span>
                    </div>
                </div>
                <div class="suggestion-container suggestion-container-new mt-2 mb-2 mr-3">
                    <div class="img-div">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu_kH8XXXHDZ3nTq_uFlpkMLXQhjTyLmSsrQ&usqp=CAU" alt="" class="sugg-img">
                    </div>
                    <a href="watch.html" class="href-none"><h5 class=" pt-2 pb-1"><b>HOW IT ENDS</b></h5></a>
                    <div class="absolute-div pb-1">
                        <span>2021</span>
                        <span>18+</span>
                        <span>Action</span>
                    </div>
                </div>
                <div class="suggestion-container suggestion-container-new mt-2 mb-2 mr-3">
                    <div class="img-div">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu_kH8XXXHDZ3nTq_uFlpkMLXQhjTyLmSsrQ&usqp=CAU" alt="" class="sugg-img">
                    </div>
                    <a href="watch.html" class="href-none"><h5 class=" pt-2 pb-1"><b>HOW IT ENDS</b></h5></a>
                    <div class="absolute-div pb-1">
                        <span>2021</span>
                        <span>18+</span>
                        <span>Action</span>
                    </div>
                </div>
                <div class="suggestion-container suggestion-container-new mt-2 mb-2 mr-3">
                    <div class="img-div">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu_kH8XXXHDZ3nTq_uFlpkMLXQhjTyLmSsrQ&usqp=CAU" alt="" class="sugg-img">
                    </div>
                    <a href="watch.html" class="href-none"><h5 class=" pt-2 pb-1"><b>HOW IT ENDS</b></h5></a>
                    <div class="absolute-div pb-1">
                        <span>2021</span>
                        <span>18+</span>
                        <span>Action</span>
                    </div>
                </div>
                <div class="suggestion-container suggestion-container-new mt-2 mb-2 mr-3">
                    <div class="img-div">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu_kH8XXXHDZ3nTq_uFlpkMLXQhjTyLmSsrQ&usqp=CAU" alt="" class="sugg-img">
                    </div>
                    <a href="watch.html" class="href-none"><h5 class=" pt-2 pb-1"><b>HOW IT ENDS</b></h5></a>
                    <div class="absolute-div pb-1">
                        <span>2021</span>
                        <span>18+</span>
                        <span>Action</span>
                    </div>
                </div>
                <div class="suggestion-container suggestion-container-new mt-2 mb-2 mr-3">
                    <div class="img-div">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu_kH8XXXHDZ3nTq_uFlpkMLXQhjTyLmSsrQ&usqp=CAU" alt="" class="sugg-img">
                    </div>
                    <a href="watch.html" class="href-none"><h5 class=" pt-2 pb-1"><b>HOW IT ENDS</b></h5></a>
                    <div class="absolute-div pb-1">
                        <span>2021</span>
                        <span>18+</span>
                        <span>Action</span>
                    </div>
                </div>
                <div class="suggestion-container suggestion-container-new mt-2 mb-2 mr-3">
                    <div class="img-div">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu_kH8XXXHDZ3nTq_uFlpkMLXQhjTyLmSsrQ&usqp=CAU" alt="" class="sugg-img">
                    </div>
                    <a href="watch.html" class="href-none"><h5 class=" pt-2 pb-1"><b>HOW IT ENDS</b></h5></a>
                    <div class="absolute-div pb-1">
                        <span>2021</span>
                        <span>18+</span>
                        <span>Action</span>
                    </div>
                </div>
                <div class="suggestion-container suggestion-container-new mt-2 mb-2 mr-3">
                    <div class="img-div">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu_kH8XXXHDZ3nTq_uFlpkMLXQhjTyLmSsrQ&usqp=CAU" alt="" class="sugg-img">
                    </div>
                    <a href="watch.html" class="href-none"><h5 class=" pt-2 pb-1"><b>HOW IT ENDS</b></h5></a>
                    <div class="absolute-div pb-1">
                        <span>2021</span>
                        <span>18+</span>
                        <span>Action</span>
                    </div>
                </div>
                <div class="suggestion-container suggestion-container-new mt-2 mb-2 mr-3">
                    <div class="img-div">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTu_kH8XXXHDZ3nTq_uFlpkMLXQhjTyLmSsrQ&usqp=CAU" alt="" class="sugg-img">
                    </div>
                    <a href="watch.html" class="href-none"><h5 class=" pt-2 pb-1"><b>HOW IT ENDS</b></h5></a>
                    <div class="absolute-div pb-1">
                        <span>2021</span>
                        <span>18+</span>
                        <span>Action</span>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>

    {% endblock %}