{% extends 'Saral/main.html' %}
    
    {% block content %}
    {% load static %}
    <div class="container-fluid mt-5">
        <div class="container">
            <div class="row pt-3">
                <div class="col-md-6">
                    <h1>Information:</h1>
                    <span class="bbbb pr-2">Username :</span><span>{{abcr.name}}</span><br>
                    <span class="bbbb pr-2">Email :</span><span></span><br>
                    {{newForm}}
                </div>
            </div>
        </div>

    </div>
    {% endblock %}